{% extends "skeleton.html" %}

{% block title %} Melscan {% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.0.2/luxon.min.js"
  integrity="sha512-frUCURIeB0OKMPgmDEwT3rC4NH2a4gn06N3Iw6T1z0WfrQZd7gNfJFbHrNsZP38PVXOp6nUiFtBqVvmCj+ARhw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.1.1/chartjs-plugin-zoom.min.js"
  integrity="sha512-NxlWEbNbTV6acWnTsWRLIiwzOw0IwHQOYUCKBiu/NqZ+5jSy7gjMbpYI+/4KvaNuZ1qolbw+Vnd76pbIUYEG8g=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash.debounce@4.0.8/index.min.js"></script>
<style>
  #head button {
    font-size: 90%;
    margin-left: 4px;
    margin-right: 4px;
    border: #ccc;
    border-width: 1px;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10%;
  }

  #head button:hover {
    background-color: #eee;
  }

  .card {
    border: #ccc;
    border-width: 1px;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 8px;
    margin: 4px;
    padding: 16px;
  }

  .ticker-card {
    display: flex;

    justify-content: center;
    flex-direction: column;
  }
</style>
{% endblock %}

{% block nav %}
<a href="/" class="text-black hover:text-opacity-60 hover:underline">Melscan</a>
{% endblock %}


{% block body %}
<div class="container mx-auto max-w-screen-lg">
  <div class="mb-3 mt-8">
    <h3 class="text-2xl font-bold">Token {{denom}}</h3>
  </div>

  <div class="grid grid-cols-12 md:grid-flow-col grid-flow-row">
    <div class="col-span-12 md:col-span-3 card ticker-card">
      <div><small>Price</small></div>
      <div class="text-lg font-medium">{{(last_item.price * 1000.0).round() / 1000.0}} mel/{{denom}}</div>
    </div>
    <div class="col-span-12 md:col-span-3 card ticker-card">
      <div><small>Liquidity</small>
        <div class="tooltip">
          <div class="info-cirlce">
            <div class="info-i">i</div>
            <div class="tooltiptext">This is the tip text</div>
          </div>
        </div>
      </div>
      <div class="text-lg font-medium">{{(last_item.liquidity * 1000.0).round() / 1000.0}} mel</div>
    </div>
    <div class="col-span-12 md:col-span-3 card ticker-card">
      <div><small>Current height</small></div>
      <div class="text-lg font-medium">{{last_item.height}}</div>
    </div>

    <div class="md:col-span-9 col-span-12 md:row-span-3 card">
      <div class="grid grid-cols-2" id="head">
        <div class="text-left"><button onclick="melscan.handlers.loadLiquidity()">Liquidity</button><button
            onclick="melscan.handlers.loadPrice()">Price</button></div>
        <div class="text-right"><button onclick="loadLastDay()">1D</button><button
            onclick="loadLastWeek()">1W</button><button onclick="loadLastMonth()">1M</button><button
            onclick="loadAllTime()">All</button></div>
      </div>
      <canvas id="chart" width="400" height="400"></canvas>

    </div>

  </div>


</div>
<script>
  var denom = JSON.parse(`{{denom|json}}`)
  var last_item = JSON.parse(`{{last_item|json}}`)
  var DateTime = luxon.DateTime
  var Duration = luxon.Duration
  console.info(`Denom: ${denom} \nLast Item: ${JSON.stringify(last_item)}`)
</script>
<script>
  async function getPoolData(denom, lower, upper) {
    let url = `/raw/pool-data-batch/${denom}/${lower}/${upper}`
    console.info(`Getting data /raw/pool-data-batch/${denom}/0/${last_item.height}`)
    let poolData = await $.ajax(`/raw/pool-data-batch/${denom}/${lower}/${upper}`)
    // replace the date string with a date object
    return poolData.map(i => (Object.assign({}, i, { date: DateTime.fromISO(i.date) })))

  }

  function createLegendLabel(denom, info) {
    return `MEL/${denom} ${info}`
  }
  async function chartOptions(pooldata) {

    const scales = {
      
      x: {
        type: 'time',
        time: {
          displayFormats: {
            quarter: 'MMM YYYY'
          }
        },
        min: pooldata[0].date.toMillis(),
        max: pooldata[pooldata.length - 1].date.toMillis(),
      },
      y: {
        min: 0,
        max: Math.max(...pooldata.map(i => i.liquidity)) * 1.20
      },
    };
    const zoomOptions = {
      limits: {
        y: { min: 0, max: 20000, minRange: 50 },
        x: { min: pooldata[0].date.toMillis(), max: Date.now() },
      },
      pan: {
        enabled: true,
        mode: 'xy',
        onPanRejected: console.error

      },
      zoom: {
        wheel: {
          enabled: true,
        },
        pinch: {
          enabled: true
        },
        mode: 'x',
        onZoomComplete({ chart }) {
        }
      }
    };
    let options = {
      scales,
      plugins: {
        zoom: zoomOptions
      },
      interaction: {
        mode: 'nearest'
      }
    };
  
    return options
  }
  async function createChart(data, label, options) {
    let ctx = document.getElementById('chart').getContext('2d')
    let chart = new Chart(ctx, {
      type: 'line',
      options,
      data: {
        labels,
        datasets: [{
          label,
          data,
          fill: 'origin',
          borderWidth: 1
        }],
      },
    })
    chart.setDatasetVisibility(1, false)
    chart.update()
  }
  async function main() {
    let lower = 0;
    let upper = last_item.height;
    var pooldata = await getPoolData(denom, lower, upper)
    var chart = await createChart(pooldata.map(i=>[i.date, i.liquidity], createLabel(denom, 'Liquidity')))
    var handlers = {}
    // handlers.toggleDataVisibility = (index, update = true) => {
    //   if(chart.getDataVisibility(index)){
    //     chart.setDatasetVisibility(index, false)
    //     chart.hide(index)
    //   }
    //   else {
    //     chart.setDatasetVisibility(index, true)
    //     chart.show(index)
    //   }
    // }
    handlers.loadLiquidity = () => {
      chart.data.datasets[0].label = createLegendLabel(denom, "liquidity"),
        chart.data.datasets[0].data = pooldata.map(i => i.liquidity)
      chart.update()
    }
    handlers.loadPrice = () => {
      chart.data.datasets[0].label = createLegendLabel(denom, "price"),
        chart.data.datasets[0].data = pooldata.map(i => i.price)
      chart.update()
    }
    return { pooldata, handlers, chart }
  }
  var melscan = {}
  main().then(i => Object.assign(melscan, i))
</script>

{% endblock %}