{% extends "skeleton.html" %}

{% block title %} Melscan {% endblock %}

{% block nav %}
<a href="/" class="text-black hover:text-opacity-60 hover:underline">Melscan</a>
{% endblock %}
{% block head %}
<style>
  .info-circle {
    top: 0;
  }

</style>
{% endblock %}
{% block body %}
<div class="container mx-auto max-w-screen-lg">
  <div class="grid grid-cols-1 md:grid-cols-2 mt-8 mb-8">
    <div class="col-span-2 mb-3">
      <h3 class="text-2xl font-bold">Melmint/Melswap</h3>
    </div>

    <div>
      <span class="text-lg font-bold"><span class="text-black text-opacity-50">1 MEL {{tooltips["MEL"]}} =</span>
        {{(10000.0 /
        pool.mel_per_dosc).round() / 10000.0}} DOSC {{tooltips["rDOSC"]}}</span>
      <br>
      <small class="text-blue-600 font-bold"><a href="/pools/MEL/ERG">See details →</a></small> · <small class="text-black text-opacity-50 font-bold"><span class="text-purple-600">
          {{ (-(100.0 - ((1.0/pool.mel_per_dosc) * 100.0))
          * 100.0).round() / 100.0}}%</span> from peg</small>
    </div>

    <div>
      <span class="text-lg font-bold"><span class="text-black text-opacity-50">1 MEL =</span> {{(10000.0 /
        pool.mel_per_sym).round() / 10000.0}} SYM {{tooltips["SYM"]}}</span><br>
      <small class="text-blue-600 font-bold"><a href="/pools/MEL/SYM">See details →</a></small>
    </div>

  </div>


  <div class="grid grid-cols-1 md:grid-cols-2 mt-12 mb-12 grid-flow-row">
    <div class="col-span-full mb-3">
      <h3 class="text-2xl font-bold">Latest activity</h3>
    </div>

    <div id="latest-blocks">
      <h3 class="text-xl font-semibold">Latest blocks</h3>
      <div class="info-section">
        <small class="text-black text-opacity-50 font-bold">Most recently confirmed blocks</small>
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <table class="table-auto w-full mt-3">
        <thead class="text-left text-sm text-black text-opacity-50">
          <tr>
            <th class="block-height">Height</th>
            <th class="block-weight">Total weight</th>
            <th class="block-reward">Proposer reward</th>
          </tr>
        </thead>
        <tbody id="block-rows" class="leading-loose text-sm">
          {% for block in blocks %}
          <tr>

            <td class="font-medium"><a href="/blocks/{{block.header.height}}" class="text-blue-600">{{block.header.height}}</a></td>
            <td>{{block.total_weight}} wu</td>
            <td>{{ block.reward_amount }}</td>
          </tr>
          {% endfor %}
      </table>
    </div>

    <div>
      <h3 class="text-xl font-semibold">Latest transactions</h3>
      <div class="info-section">
        <small class="text-black text-opacity-50 font-bold">Transactions in latest blocks</small>
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <table class="table-auto w-full mt-3">
        <thead class="text-left text-sm text-black text-opacity-50">
          <tr>
            <th>Hash</th>
            <th>Height</th>
            <th>Mel moved</th>
          </tr>
        </thead>
        <tbody id="transaction-rows" class="leading-loose text-sm">
          {% for tx in transactions %}
          <tr>
            <td class="font-medium" style="overflow: hidden; text-overflow: ellipsis"><a href="/blocks/{{tx.height}}/{{tx.hash}}" class="text-blue-600">{{tx.hash}}</a></td>
            <td>{{tx.height}}</td>
            <td>{{ tx.mel_moved }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


  </div>
</div>
{% endblock %}
{% block bottom_scripts %}
<style>
  .fade {
    transition: all 3s ease-out;
  }

  .new-row {
    background-color: rgba(103, 180, 240, 0.576);
    height: 1em;
  }

  .slide-fade tr {
    opacity: 1;
  }

  .info-section {
    display: flex;
  }

  /*#latest-blocks {
    margin-right: 3em;
  }*/

</style>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  function reload() {
    axios.get(window.location.href).then(function (response) {
      const h = response.data;
      const h_inner = h.replace("<!doctype html>", "").replace("<html>", "").replace("</html>", "");
      const doc = new DOMParser().parseFromString(h_inner, "text/html");
      const new_container = doc.getElementsByClassName("container")[0];
      const old_container = document.getElementsByClassName("container")[0];
      old_container.parentNode.replaceChild(new_container, old_container);
    })
  }
  setInterval(reload, 5000)
</script>
{% endblock %}
